.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(71, 120, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30vw;
  height: 80vh;
}
.text-input {
  padding: 2%;
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list {
  width: 27vw;
  height: 85%;
  overflow: auto;
  background-color: white;
  border-radius: 15px;
}
.text-input .text-field {
  width: 85%;
}
.todo-list ul {
  margin: 5px;
    padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.todo-item {
  margin: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.todo-content {
  width: 67%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.todo-content p {
  margin: 5px 0;
}
